.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-space: 9px;
    --search-bottom-width: 52px;

    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: rgba(255, 255, 255, 0.12) 0px 1px 1px;
    display: flex;
    justify-content: center;
    background-color: var(--backgroud-color-common);
    border-bottom: red;
}
.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px 0 16px;
}
.logo {
    line-height: normal;
    display: flex;
    align-items: center;

    img {
        line-height: 0px;
        padding-top: 8px;
    }
}

//Actions
.actions {
    display: flex;
    align-items: center;
}

.more-btn {
    font-size: 2rem;
    margin-left: 24px;
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
    color: var(--white);
}

.action-btn {
    color: (255, 255, 255, 0.9);
    font-size: 2.4rem;
    background-color: transparent;
    padding: 4px 12px;
    line-height: 0px;
    cursor: pointer;
    display: flex;
    position: relative;

    .inbox-amount {
        color: rgb(255, 255, 255);
        font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
        font-weight: 600;
        font-size: 1.2rem;
        left: 26px;
        line-height: 1.8rem;
        margin-right: 10px;
        background: rgb(255, 59, 92);
        min-width: 20px;
        text-align: center;
        height: 20px;
        border-radius: 10px;
        top: -20%;
        position: absolute;
    }
}

.user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50px;
    object-fit: cover;
    margin-left: 12px;
    cursor: pointer;
}
