.wrapper {
    width: 240px;
    padding: 20px 0px 26px 8px;
    min-height: 100%;
}
.user-exit-following {
    width: 32px;
    height: 32px;
    font-size: 24px;
    padding: 4px;
}
.user-avatar {
    width: 32px;
    height: 32px;
    padding: 4px;
    border-radius: 50%;
}
